---
import Layout from "../layouts/BaseLayout.astro"
---

<Layout title="Home">
	<section class="hero">
		<h1>Hero Heading</h1>
		<p>Placeholder subtext</p>
	</section>	

	<section class="mission">
		<h2>Mission</h2>
		<p>Mission Statement</p>
	</section>

	<section class="events">
		<h2>Events</h2>
		<p>EventLists</p>
	</section>

	<section class="learn-more">
		<h2>Learn More</h2>
		<ul>
			<li><a href="/about">About Us</a></li>
			<li><a href="/programs">Programs</a></li>
		</ul>
	</section>




</Layout>
		